armv7l-fc21-gcc49-opt/
build.aarch64-ubuntu14.04-gcc49-opt
aarch64-ubuntu14.04-gcc49-opt
InstallArea/
DetCommon
AtlasCore
AtlasConditions
AtlasEvent
AtlasReconstruction
AtlasTrigger
AtlasAnalysis
AtlasSimulation
AtlasOffline
AtlasHLT
install.armv7l-fc21-gcc49-opt.history
*.tar.gz
.svn
