!Testing/AtlasCore-20.1.0/AtlasCoreTests.sh
!Testing/AtlasConditions-20.1.0/AtlasCoreTests.sh

InstallArea/DetCommon/
InstallArea/AtlasCore/
InstallArea/AtlasConditions/
InstallArea/AtlasEvent/
InstallArea/AtlasReconstruction/
InstallArea/AtlasTrigger/
InstallArea/AtlasAnalysis/
InstallArea/AtlasSimulation/
InstallArea/AtlasOffline/
InstallArea/AtlasHLT/

SVN/

Testing/

nicos_content20.1.0.html
TEMP*
ATLAS*

WhatToBuild.txt
logs/StdError.log
logs/StdOut.log
logs/StdTail.log
